h1{
    text-align: center;
    color:yellow;
    margin: auto;
}
p{
    text-align: center;
    font-size: 24px;
    padding: 10px 50px 20px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0e0202;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
  }


h1{
    margin-top: 120px;
    text-align: center;
    color:rgb(14, 10, 2);
  }
p{
    margin-top: 20pt;
    text-align: center;
    font-size: 24px;

}

.button {
    align-content: center;
    justify-content: center;
    position: fixed;
    background-color: #4CAF50;
    border: none;
    color: rgb(5, 3, 3);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 575px;
    cursor: pointer;
  }
body{
    background-image: url('https://assets.technologynetworks.com/production/dynamic/images/content/323246/how-do-you-remember-your-childhood-exploring-visual-memory-323246-960x540.webp?cb=10338282.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.b1{
    
    font-size: 25px;
    color:#d6e48b;
    padding-left: 25px;
    }
